<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <h1 class="product-title"><%= clothe.clothe_name%></h1>
            <section class="clothe-data">
                <div class="images-and-prices">
                    <section class="clothe-images">
                        <div class="clothe-image-container">
                            <img src=<%= clothe.url%> alt=<%= clothe.clothe_name%>>
                        </div>
                    </section>
                    <section class="clothe-prices-container">
                        <% if(clothe.on_sale) {%>
                            <div class="clothe-prices">
                                <h2>Precio</h2>
                                <span style="text-decoration: line-through;"><%= clothe.price%></span>
                                <div class="clothe-card-prince-container">
                                    <span class= "clothe-card-price-with-discount"><%= clothe.price - (clothe.price*clothe.discount/100) %></span>
                                    <span class= "clothe-card-discount"><%= clothe.discount %>%</span>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="clothe-prices">
                                <h2>Precio</h2>
                                <span><%= clothe.price%></span>
                            </div>
                        <% } %>
                        <% if(authorized) {%>
                            <div class="buy-cart-buttons">
                                <form action="/api/shopping-cart/add-product/<%=clothe.id%>" method="get">
                                    <button type="submit" class="button-add-to-cart">Agregar al Carrito</button>
                                </form>
                                <a href="/products/<%= clothe.id%>/<%= clothe.clothe_name%>/buyed"><button>Comprar</button></a>
                            </div>
                        <% } else { %>
                            <div class="buy-cart-buttons">
                                <a href="/login"><button class="button-add-to-cart">Agregar al Carrito</button></a>
                                <a href="/login"><button class="button-buy-product">Comprar</button></a>
                            </div>
                        <% } %>
                    </section>
                </div>
                <div class="clothe-specs">
                    <h2>Descripcion</h2>
                    <section class="clothe-specs-type">
                        <h3>Tipo</h3>
                        <span><%= clothe.clothes_type.type_name %></span>
                    </section>
                    <section class="clothe-specs-colors">
                        <h3>Colores</h3>
                        <% clothe.clothes_colors.forEach(color => {%>
                            <span><%= color.color_name%></span>
                        <% }) %>
                    </section>
                    <section class="clothe-specs-sizes">
                        <h3>Tamaños</h3>
                        <% clothe.clothes_sizes.forEach(size => {%>
                            <span><%= size.size%></span>
                        <% }) %>
                    </section>
                </div>
            </section>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>