<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <img src="/clothing-store-home.webp" class="home-image">
            <div class="carrousel-container">
                <button id="prev-slider"><img src="/left-arrow.svg" alt="left-arrow"></button>
                <section class="carrousel-list" >
                    <% products.forEach( clothe => { %>
                        <div class= "clothe-card-home">
                            <a href="/clothe/<%= clothe.id%>/<%= clothe.clothe_name%>" type="hidden">
                                <img class = "clothe-card-image" src=<%= clothe.url %> alt="Producto">
                                <section class= "clothe-card-data-container">
                                    <span class= "clothe-card-name"><%= clothe.clothe_name %></span>
                                    <span class= "clothe-card-price"><%= clothe.price %></span>
                                </section>
                            </a>
                        </div>
                    <% }) %>
                </section>
                <button id="next-slider"><img src="/left-arrow.svg" alt="left-arrow" style="transform: scaleX(-1);"></button>
            </div>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>