<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <h1 class="title"><%= type %></h1>
            <div class="filters-and-products">
                <form class = "filters" method="get" action="/leaked-products?type=<%=type%>">
                    <input type="radio" name="type" id="type-l" value="<%=type%>" checked>
                    <div class="colors">
                        <h3>Colors</h3>
                        <% colors.forEach(color => { %>
                            <section class="options">
                                <input type="radio" name="color" id="color-l" value=<%= color.color_name %>>
                                <label for="color"><%= color.color_name %></label>
                            </section>
                        <% }) %>
                    </div>
                    <% if(type!="calzado"){%>
                        <div class="sizes">
                            <h3>Talles</h3>
                            <% sizes.forEach(size => { %>
                                <section class="options">
                                    <input type="radio" name="size" id="size-l" value=<%= size.size %>>
                                    <label for="size"><%= size.size %></label>
                                </section>
                            <% }) %>
                        </div>
                    <% } %>
                    <input type="submit" value="Filtrar">
                </form>
                <section class = "products">
                    <% allProducts.forEach(clothe => { %>
                        <div class= "clothe">
                            <img class = "clothe-image" src=<%= clothe.url %> alt="Producto">
                            <section class= "clothe-data-container">
                                <span class= "clothe-name"><%= clothe.clothe_name %></span>
                                <span class= "clothe-price"><%= clothe.price %></span>
                                <span class= "clothe-type" title="${type}"></span>
                                <span class= "clothe-color" title="${arrayColors}"></span>
                                <span class= "clothe-size" title="${arraySizes}"></span>
                            </section>
                        </div>
                    <% }) %>
                </section>
            </div>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>