<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <h1 class="product-title"><%= type %></h1>
            <div class="filters-and-products">
                <% if(type != "Productos") { %>
                    <form class = "filters" method="get" action="/products/leaked-products?type=<%=type%>">
                        <input type="radio" name="type" id="type" value="<%=type%>" checked>
                        <div class="colors">
                            <h3>Colors</h3>
                            <% colors.forEach(color => { %>
                                <section class="options">
                                    <input type="radio" name="color" id="color" value=<%= color.color_name %>>
                                    <label for="color"><%= color.color_name %></label>
                                </section>
                            <% }) %>
                        </div>
                        <% if(type!="calzado"){%>
                            <div class="sizes">
                                <h3>Talles</h3>
                                <% sizes.forEach(size => { %>
                                    <section class="options">
                                        <input type="radio" name="size" id="size" value=<%= size.size %>>
                                        <label for="size"><%= size.size %></label>
                                    </section>
                                <% }) %>
                            </div>
                        <% } %>
                        <input type="submit" id="apply-filter" value="Filtrar">
                    </form>
                <% } else { %>
                    <section class = "filters"></section>
                <% } %>   
                
                <section class="products-container">
                    <section class = "products">
                        <% allProducts.forEach(clothe => { %>
                            <div class= "clothe-card">
                                <a href="/clothe/<%= clothe.id%>/<%= clothe.clothe_name%>" type="hidden">
                                    <img class = "clothe-card-image" src=<%= clothe.url %> alt="Producto">
                                    <section class= "clothe-card-data-container">
                                        <span class= "clothe-card-name"><%= clothe.clothe_name %></span>
                                        <% if(clothe.on_sale){ %>
                                            <span class= "clothe-card-price" style="text-decoration: line-through;"><%= clothe.price %></span>
                                            <div class="clothe-card-prince-container">
                                                <span class= "clothe-card-price-with-discount"><%= clothe.price - (clothe.price*clothe.discount/100) %></span>
                                                <span class= "clothe-card-discount"><%= clothe.discount %>%</span>
                                            </div>
                                        <% } else { %>
                                            <span class= "clothe-card-price"><%= clothe.price %></span>
                                        <% } %>
                                    </section>
                                </a>
                            </div>
                        <% }) %>
                    </section>
                    <section class="label-pagination-container">
                        <% for(let i=1; i<=amountLabelForPagination; i++) {%>
                            <a class="label-pagination" href="/products?type=<%=type%>&page=<%=i%>"><button><%= i %></button></a>
                        <% } %>
                    </section>
                </section>
            </div>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>