<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <h1 class="title">Carrito de Compras</h1>
            <% if(authorized || products.length != 0) { %>
                <section class="product-list">
                    <% products.forEach(clothe => { %>
                        <div class="cart-clothe-card">
                            <section class="cart-clothe-image">
                                <img src="<%= clothe.url%>" alt="<%= clothe.url%>">
                            </section>
                            <section class="cart-clothe-data">
                                <span><%= clothe.clothe_name%></span>
                                <span><%= clothe.price%></span>
                            </section>
                            <span class="clothe-amount"><%= clothe.amount%></span>
                            <button class="cart-delete-button" value="delete-product"
                            onclick="fetch('/api/shopping-cart/delete-product/<%=clothe.id%>', {method: 'DELETE'})
                            .then(response => response.json())
                            .then(data => alert(data.message))
                            .finally(() => window.location.reload())">
                                Borrar Producto
                            </button>
                        </div>
                    <% }) %>
                    <span class="total-pay">Total a Pagar: <%= totalPay %></span>
                </section>
                <section class="purchase-container">
                    <span class="total-pay"></span>
                    <button id="purchase" class="purchase" value="purchase"
                    onclick="fetch('/api/shopping-cart/purchase', {method: 'DELETE'})
                    .then(response => response.json())
                    .then(data => alert(`${data.message}. La compra fue de: ${data.totalPay}`))
                    .finally(()=> window.location.reload())">
                        Comprar
                    </button>
                </section>
            <% } %>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>
