<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <h1 class="title">Carrito de Compras</h1>
            <% if(authorized || products.length != 0) { %>
                <section class="product-list">
                    <% products.forEach(clothe => { %>
                        <div class="cart-clothe-card">
                            <section class="cart-clothe-image">
                                <img src="<%= clothe.url%>" alt="<%= clothe.url%>">
                            </section>
                            <section class="cart-clothe-data">
                                <span><%= clothe.clothe_name%></span>
                                <span><%= clothe.price%></span>
                            </section>
                            <span class="clothe-amount"><%= clothe.amount%></span>
                            <form action="/api/shopping-cart/delete-product/<%=clothe.id%>" method="get">
                                <button class="cart-delete-button" value="delete-product">Borrar Producto</button>
                            </form>
                        </div>
                    <% }) %>
                    <span class="total-pay">Total a Pagar: <%= totalPay %></span>
                </section>
                <section class="purchase-container">
                    <span class="total-pay"></span>
                    <form action="/api/shopping-cart/purchase" method="get">
                        <button id="purchase" class="purchase" value="purchase">Comprar</button>
                    </form>
                </section>
            <% } %>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>
