<%- include("templates/head") %>
    <body>
        <%- include("templates/menu", {authorized}) %>
        <div class="main-container">
            <h1 class="title">INFORMACION DE LA CUENTA</h1>
            <div class="user-data">
                <img src="default-user.webp">
                <span class="names">Nombres: <%=userData.names%></span>
                <span class="email">Email: <%=userData.email%></span>
                <span class="password">Password: <%=userData.password%></span>
                <form method="get" action="log_out">
                    <input type="submit" class="sign-off" value="Cerrar Sesion"></input>
                </form>
            </div>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>

